body {
    font-family: Asap, sans-serif;
}

iframe {
    border: 0;
}

.bg-light {
    background: #f8f8f8;
}
.bg-dark {
    background: #465158;  
    color: #e8ecef;
}

.banner {
    background: url('../images/audio_mix-sergiu_bacioiu.jpg') bottom no-repeat;
    background-size: cover;
    color: #e8ecef;
    margin-top: -20px;

    position: relative;
}
.banner .shadow {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 40px;
    padding-bottom: 20%;
}
.banner .image-credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.feature {
    padding: 40px 0;
}

.social {
    padding: 15px 0;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* From https://gist.github.com/jgarber/2302238 */
.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}
.flex-video.widescreen {
    padding-bottom: 57.25%;
}
.flex-video.vimeo {
    padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media
    only screen and (max-device-width: 800px),
    only screen and (device-width: 1024px) and (device-height: 600px),
    only screen and (width: 1280px) and (orientation: landscape),
    only screen and (device-width: 800px),
    only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}
