---
---

@charset "utf-8";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Asap");

// Bulma's initial variables
$family-sans-serif: "Asap", sans-serif;
$fullhd-enabled: false;

@import "bulma-0.8.0/utilities/initial-variables";

// Bulma's derived variables
$primary: $blue;

// Bulma parts we use
@import "bulma-0.8.0/utilities/_all";
@import "bulma-0.8.0/base/_all";
@import "bulma-0.8.0/elements/_all";
//@import "bulma-0.8.0/form/_all";
@import "bulma-0.8.0/components/_all";
@import "bulma-0.8.0/grid/_all";
@import "bulma-0.8.0/layout/_all";

// Hero covers
.mw-cover {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.mw-cover-mixer-hannah {
  @extend .mw-cover;
  background-image: url("/media/images/hannah-troupe-wL_w5t_OKtI-unsplash-1900x1200.jpg");
}

.avatar {
  @extend .is-rounded;
}

.copy-container {
  position: relative;
  button {
    @extend .button;
    font-size: 0.5rem;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
  }
}

.select {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.youtube {
  position: relative;
}

.youtube .overlay {
  position: absolute;
  width: 15%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
  opacity: 0.9;
}

#discourse-comments {
  margin-top: 2em;
}
