<ul class="list-unstyled lead">
  {% for ext in exts %}
    <li>
      <a href="{{ ext.url }}">{{ ext.title }}</a>
      {% if ext.dist.bundled %}
        <span class="tag is-primary">Bundled</span>
      {% endif %}
      {% case ext.py3 %}
        {% when "prerelease"%}
          <span class="tag is-warning">Prerelease</span>
      {% endcase %}
      {% if ext.archived %}
        <span class="tag is-danger is-light">Archived</span>
      {% endif %}
    </li>
  {% else %}
    <li><em>(none)</em></li>
  {% endfor %}
</ul>
