<div class="buttons">
  {% if repo_url %}
    <a href="{{ repo_url }}" class="button" title="{{ repo_host_label }} ext">
      <span class="icon has-text-grey-dark" title="{{ repo_host_label }}"><img src="https://unpkg.com/simple-icons@latest/icons/{{ repo_host }}.svg" /></span>
      &nbsp;<strong>{{ repo_path }}</strong>
    </a>
  {% endif %}
  {% if ext.dist.pypi %}
    <a href="https://pypi.org/project/{{ ext.dist.pypi }}" class="button" title="PyPi ext">
      <span class="icon has-text-grey-dark" title="PyPI"><img src="https://unpkg.com/simple-icons@latest/icons/python.svg" /></span>
      &nbsp;<strong>{{ ext.dist.pypi }}</strong>
    </a>
  {% endif %}
</div>
