{%- if ext.dev.github -%}
  {%- assign repo_host = "github" -%}
  {%- assign repo_account = ext.dev.github | split: "/" | first -%}
{%- elsif ext.dev.gitlab -%}
  {%- assign repo_host = "gitlab" -%}
  {%- if ext.dev.gitlab.repo -%}
    {%- assign repo_account = ext.dev.gitlab.repo | split: "/" | first -%}
  {%- else -%}
    {%- assign repo_account = ext.dev.gitlab | split: "/" | first -%}
  {%- endif -%}
{%- elsif ext.dev.codeberg -%}
  {%- assign repo_host = "codeberg" -%}
  {%- assign repo_account = ext.dev.codeberg | split: "/" | first -%}
{%- endif -%}

{%- if repo_account -%}
  <span class="h-3.5 w-3.5 shrink-0 bg-current opacity-70"
        style="mask: url(https://unpkg.com/simple-icons@latest/icons/{{ repo_host }}.svg) center / contain no-repeat"
        aria-hidden="true"></span>
  {{ repo_account }}
{%- endif -%}
