<div class="not-prose my-6 flex flex-wrap gap-2 text-sm">
  {% if repo_url %}
    <a href="{{ repo_url }}"
       class="inline-flex items-center gap-2 rounded-lg border border-border px-3 py-1.5 text-fg no-underline hover:border-accent">
      <span class="h-4 w-4 bg-current"
            style="mask: url(https://unpkg.com/simple-icons@latest/icons/{{ repo_host }}.svg) center / contain no-repeat"></span>
      {{ repo_path }}
    </a>
  {% endif %}
  {% if ext.dist.pypi %}
    <a href="https://pypi.org/project/{{ ext.dist.pypi }}"
       class="inline-flex items-center gap-2 rounded-lg border border-border px-3 py-1.5 text-fg no-underline hover:border-accent">
      <span class="h-4 w-4 bg-current"
            style="mask: url(https://unpkg.com/simple-icons@latest/icons/pypi.svg) center / contain no-repeat"></span>
      {{ ext.dist.pypi }}
    </a>
  {% endif %}
</div>
