<div class="action bg-light">
  <div class="container">

    <h2>Updating the extension registry</h2>

    <p class="lead">
      This extension registry is a community effort,
      and will never be complete without your help.
      To add or update an extension, edit the
      <a href="https://github.com/mopidy/website/tree/master/_ext">source files</a>
      using the existing extensions as inspiration,
      then submit a pull request to the
      <a href="https://github.com/mopidy/website">mopidy/website</a> repo at GitHub.
    </p>

  </div>
</div>
