.afs-ubuntu {
    font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
}

.afs-droid-serif {
    font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
    font-size: 0.970em;
}

.afs-droid-sans-mono {
    font-family: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace;
    font-size: 0.970em;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/media/fonts/Ubuntu/Ubuntu-B-webfont.eot');
    src: local('☺'), url('/media/fonts/Ubuntu/Ubuntu-B-webfont.woff') format('woff'), url('/media/fonts/Ubuntu/Ubuntu-B-webfont.ttf') format('truetype'), url('/media/fonts/Ubuntu/Ubuntu-B-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/media/fonts/Ubuntu/Ubuntu-BI-webfont.eot');
    src: local('☺'), url('/media/fonts/Ubuntu/Ubuntu-BI-webfont.woff') format('woff'), url('/media/fonts/Ubuntu/Ubuntu-BI-webfont.ttf') format('truetype'), url('/media/fonts/Ubuntu/Ubuntu-BI-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/media/fonts/Ubuntu/Ubuntu-I-webfont.eot');
    src: local('☺'), url('/media/fonts/Ubuntu/Ubuntu-I-webfont.woff') format('woff'), url('/media/fonts/Ubuntu/Ubuntu-I-webfont.ttf') format('truetype'), url('/media/fonts/Ubuntu/Ubuntu-I-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/media/fonts/Ubuntu/Ubuntu-R-webfont.eot');
    src: local('☺'), url('/media/fonts/Ubuntu/Ubuntu-R-webfont.woff') format('woff'), url('/media/fonts/Ubuntu/Ubuntu-R-webfont.ttf') format('truetype'), url('/media/fonts/Ubuntu/Ubuntu-R-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('/media/fonts/Droid-Serif/DroidSerif-Bold-webfont.eot');
    src: local('☺'), url('/media/fonts/Droid-Serif/DroidSerif-Bold-webfont.woff') format('woff'), url('/media/fonts/Droid-Serif/DroidSerif-Bold-webfont.ttf') format('truetype'), url('/media/fonts/Droid-Serif/DroidSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('/media/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.eot');
    src: local('☺'), url('/media/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.woff') format('woff'), url('/media/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'), url('/media/fonts/Droid-Serif/DroidSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('/media/fonts/Droid-Serif/DroidSerif-Italic-webfont.eot');
    src: local('☺'), url('/media/fonts/Droid-Serif/DroidSerif-Italic-webfont.woff') format('woff'), url('/media/fonts/Droid-Serif/DroidSerif-Italic-webfont.ttf') format('truetype'), url('/media/fonts/Droid-Serif/DroidSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('/media/fonts/Droid-Serif/DroidSerif-Regular-webfont.eot');
    src: local('☺'), url('/media/fonts/Droid-Serif/DroidSerif-Regular-webfont.woff') format('woff'), url('/media/fonts/Droid-Serif/DroidSerif-Regular-webfont.ttf') format('truetype'), url('/media/fonts/Droid-Serif/DroidSerif-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('/media/fonts/Droid-Sans-Mono/DroidSansMono-webfont.eot');
    src: local('☺'), url('/media/fonts/Droid-Sans-Mono/DroidSansMono-webfont.woff') format('woff'), url('/media/fonts/Droid-Sans-Mono/DroidSansMono-webfont.ttf') format('truetype'), url('/media/fonts/Droid-Sans-Mono/DroidSansMono-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}
