html {
    background: #eee;
    font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino",
    "Hoefler Text", "Baskerville", serif;
    font-size: 150%;
    line-height: 1.4em;
}
body {
    max-width: 20em;
    margin: 0 auto;
}
div.box {
    background: white;
    padding: 1em;
    margin: 3em 0;
    -moz-border-radius: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    -moz-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd;
}
div.box.focus {
    background: #6ba81e;
    color: white;
}
div.box.ubuntu h2 {
    color: #dd4814;
}
div.box.ubuntu p.
div.box.ubuntu li {
    font-size: 80%;
}
div.icon {
    float: right;
}
h1, h2 {
    font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande",
    "Verdana", "Gill Sans", sans-serif;
    line-height: 1.1em;
}
h2 {
    margin: 0.2em 0 0;
}
p.next {
    text-align: right;
}
a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed;
}
img {
    border: 0;
}
code, pre {
    font-family: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace;
    font-size: 12pt;
    line-height: 1.2em;
    padding: 0.5em 1em;
    margin: 1em 0;
    white-space: pre;
    overflow: auto;
}
.box code,
.box pre {
    background: #eee;
    color: black;
}
.box.focus code,
.box.focus pre {
    background: black;
    color: white;
}
.box.ubuntu code,
.box.ubuntu pre {
    background: #dd4814;
    color: white;
}
.box a {
    color: #6ba81e;
}
.box.focus a {
    color: black;
}
.alternative {
    font-size: 60%;
}
.center {
    text-align: center;
}
