---
title: Extensions
---

<section class="section">
  <div class="container">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li class="is-active"><a href="/ext/">Extensions</a></li>
      </ol>
    </nav>

    <h1 class="title is-size-2">Extensions</h1>

    <p class="is-size-4">
      Extend Mopidy with additional music sources, audio mixers, control
      planes, web clients, and more.
    </p>

  </div>
</section>

<section class="section">
  <div class="container content is-medium">

    <div class="columns">
      <div class="column">

        <h2>Backends</h2>
        <p>
          Add additional music sources.
        </p>
        {% assign exts = site.ext | where: "type", "backend" | sort_natural: "title" %}
        {% include ext-type-list.html %}

      </div>
      <div class="column">

        <h2>Web clients</h2>
        <p>
          Serve web-based players with Mopidy's builtin web server.
        </p>
        {% assign exts = site.ext | where: "type", "web" | sort_natural: "title" %}
        {% include ext-type-list.html %}

      </div>
    </div>
    <div class="columns">
      <div class="column">

        <h2>Frontends</h2>
        <p>
          Add control planes for user interfaces or event listeners.
        </p>
        {% assign exts = site.ext | where: "type", "frontend" | sort_natural: "title" %}
        {% include ext-type-list.html %}

      </div>
      <div class="column">

        <h2>Mixers</h2>
        <p>
          Alternative ways to control volume and muting.
        </p>
        {% assign exts = site.ext | where: "type", "mixer" | sort_natural: "title" %}
        {% include ext-type-list.html %}

      </div>
    </div>

    </div>

  </div>
</section>

{% include ext-footer.html %}
