<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="prefetch" href="https://unpkg.com/simple-icons@latest/icons/github.svg">
  <link rel="prefetch" href="https://fonts.googleapis.com/css?family=Asap">
  <link rel="stylesheet" href="/media/css/mopidy.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
  {% seo title=false %}
  {% feed_meta %}
  <script defer src="/media/js/mopidy.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BL20SY56SW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-BL20SY56SW');
  </script>
</head>
<body>

{{ content }}

</body>
</html>
