---
layout: base
---

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4" href="/">Mopidy</a>

      <a
        class="navbar-burger burger"
        role="button" aria-label="menu" aria-expanded="false"
        data-target="nav"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="nav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/blog/">Blog</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/ext/">
            Extensions
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/ext/">Overview</a>
            <a class="navbar-item" href="/ext/dists/">Distributions</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Documentation
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.mopidy.com/stable/">Overview</a>
            <a class="navbar-item" href="https://docs.mopidy.com/stable/installation/">Installation</a>
            <a class="navbar-item" href="https://docs.mopidy.com/stable/changelog/">Changelog</a>
          </div>
        </div>
        <a class="navbar-item" href="https://discourse.mopidy.com/">Discourse</a>
        <a class="navbar-item is-hidden-mobile" href="https://github.com/mopidy" title="GitHub">
          <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/github.svg" /></span>
        </a>
      </div>
    </div>
  </div>
</nav>

{{ content }}

<footer class="footer">
  <div class="container">

    <div class="columns">
        <div class="column">
          <p class="subtitle">Mopidy</p>
          <ul class="menu-list">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/ext/">Extensions</a></li>
          </ul>
        </div>
        <div class="column">
          <p class="subtitle">Documentation</p>
          <ul class="menu-list">
            <li><a href="https://docs.mopidy.com/stable/">Overview</a></li>
            <li><a href="https://docs.mopidy.com/stable/installation/">Installation</a></li>
            <li><a href="https://docs.mopidy.com/stable/changelog/">Changelog</a></li>
          </ul>
        </div>
        <div class="column">
          <p class="subtitle">Community</p>
          <ul class="menu-list">
            <li><a href="https://discourse.mopidy.com/">Discourse forum</a></li>
          </ul>
        </div>
        <div class="column">
          <p class="subtitle">Get involved</p>
          <ul class="menu-list">
            <li><a href="https://github.com/mopidy">GitHub</a></li>
            <li><a href="https://mopidy.zulipchat.com/">Zulip chat</a></li>
            <li><a href="https://discourse.mopidy.com/c/dev/10">Development forum</a></li>
          </ul>
        </div>
    </div>

    <p>
      Copyright &copy; 2009-2026 Stein Magnus Jodal and contributors.
    </p>

  </div>
</footer>
