<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mopidy</title>
    <link rel="stylesheet" type="text/css"
      href="http://fonts.googleapis.com/css?family=Asap">
    <link rel="stylesheet" type="text/css"
      href="/media/css/bootstrap-3.1.1.min.css">
    <link rel="stylesheet" type="text/css" href="/media/css/mopidy.css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15510432-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            Mopidy &#x266a;</a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://docs.mopidy.com/">Documentation</a></li>
            <li><a href="https://discuss.mopidy.com/">Discuss</a></li>
            <li><a href="https://github.com/mopidy/mopidy">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>

{{ content }}

    <div class="footer bg-light text-muted">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <ul class="list-unstyled">
              <li><strong>Resources</strong></li>
              <li><a href="http://docs.mopidy.com/">Documentation</a></li>
              <li><a href="https://discuss.mopidy.com">Discuss</a></li>
              <li><a href="https://github.com/mopidy/mopidy">
                Source code</a></li>
              <li><a href="https://github.com/mopidy/mopidy/issues">
                Issues</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="list-unstyled">
              <li><strong>Community</strong></li>
              <li><a href="http://webchat.freenode.net/?channels=mopidy">
                #mopidy at freenode</a></li>
              <li><a href="https://botbot.me/freenode/mopidy/">#mopidy logs</a></li>
              <li><a href="https://groups.google.com/d/forum/mopidy">
                Mailing list</a></li>
              <li><a href="https://twitter.com/mopidy">Twitter</a></li>
              <li><a href="https://plus.google.com/u/0/communities/111233698354110067290">
                Google+</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="list-unstyled">
              <li><strong>Development</strong></li>
              <li><a href="http://docs.mopidy.com/en/latest/authors/">
                Authors</a></li>
              <li><a href="http://docs.mopidy.com/en/latest/contributing/">
                Contributing</a></li>
              <li><a href="https://travis-ci.org/mopidy/mopidy">
                Travis CI</a></li>
              <li><a href="https://ci.mopidy.com/">Jenkins</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="list-unstyled">
              <li><strong>Related projects</strong></li>
              <li><a href="http://pyspotify.mopidy.com/">pyspotify</a></li>
              <li><a href="http://www.pimusicbox.com/">Pi MusicBox</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="/media/js/jquery-2.1.1.min.js"></script>
    <script src="/media/js/bootstrap-3.1.1.min.js"></script>
  </body>
</html>
