---
layout: default
---

{% assign ext = page %}

<section class="section">
  <div class="container">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/ext/">Extensions</a></li>
        <li class="is-active"><a href="{{ ext.url }}">{{ ext.name }}</a></li>
      </ol>
    </nav>

    <h1 class="title is-size-2">{{ ext.name }}</h1>
    <h2 class="subtitle is-size-4 has-text-grey">
      {% case ext.type %}
        {% when "backend" %}
          backend extension
        {% when "frontend" %}
          frontend extension
        {% when "mixer" %}
          mixer extension
        {% when "web" %}
          web extension
      {% endcase %}
    </h2>

    <div class="columns is-variable is-8">
      <div class="column">

        <div class="content is-medium">
          {{ ext.content }}
        </div>

        <div class="buttons">
          {% if ext.dev.github %}
            <a href="https://github.com/{{ ext.dev.github }}" class="button">
              GitHub:&nbsp;<strong>{{ ext.dev.github }}</strong>
            </a>
          {% endif %}
          {% if ext.dist.pypi %}
            <a href="https://pypi.org/project/{{ ext.dist.pypi }}" class="button">
              PyPI:&nbsp;<strong>{{ ext.dist.pypi }}</strong>
            </a>
          {% endif %}
        </div>

        <div class="content">

          {% for image in ext.images %}
            <div class="image box">
              <a href="{{ image }}">
                <img src="{{ image }}">
              </a>
            </div>
          {% endfor %}

          <h2>Installation</h2>

          {% case ext.py3 %}
            {% when true %}
              <p class="notification is-success">
                {{ ext.name }} supports Python 3.7+.
              </p>
            {% when "prerelease" %}
              <article class="message is-warning">
                <div class="message-header">Python 3 support in pre-release</div>
                <div class="message-body">
                  <p>
                    This extension has a pre-release on PyPI with Python 3.7+ support.
                  </p>

                  {% if ext.dist.pypi %}
                    <p>
                      To help test the extension on Python 3,
                      you can install the pre-release using:
                    </p>

                    <pre class="copy">python3 -m pip install --pre {{ ext.dist.pypi }}</pre>
                  {% endif %}

                  {% if ext.dev.github %}
                    <p>
                      Please report any issues you find in the extension's
                      <a href="https://github.com/{{ ext.dev.github }}/issues">issue tracker</a>.
                    </p>
                  {% endif %}
                </div>
              </article>
            {% else %}
              <p class="notification is-danger">
                {{ ext.name }} does not support Python 3.7+, as far as we know.
              </p>
          {% endcase %}

          {% if ext.dist.bundled %}
            <h3>Bundled with Mopidy</h3>
            <p>
              This extension is bundled with Mopidy itself. See
              <a href="https://docs.mopidy.com/">Mopidy's documentation</a>
              for how to configure the extension.
            </p>
          {% else %}
            <div class="tabs is-medium">
              <ul class="is-marginless">
                {% if ext.dist.pypi %}
                  <li class="is-active"><a href="#pypi">PyPI</a></li>
                {% endif %}
                {% if ext.dist.apt-debian or ext.dist.apt-mopidy %}
                  <li><a href="#debian">Debian</a></li>
                {% endif %}
                {% if ext.dist.arch-aur %}
                  <li><a href="#arch">Arch</a></li>
                {% endif %}
                {% if ext.dist.homebrew %}
                  <li><a href="#macos">macOS</a></li>
                {% endif %}
              </ul>
            </div>
          {% endif %}

          {% if ext.dist.pypi %}
            <div class="tab-content" id="pypi">
              <p>
                Install the <code>{{ ext.dist.pypi }}</code> package from
                <a href="https://pypi.org/project/{{ ext.dist.pypi }}">PyPI</a>:
              </p>
              {% if ext.py3 == true %}
                <pre class="copy">python3 -m pip install {{ ext.dist.pypi }}</pre>
              {% else %}
                <pre class="copy">python -m pip install {{ ext.dist.pypi }}</pre>
              {% endif %}
            </div>
          {% endif %}

          {% if ext.dist.apt-debian or ext.dist.apt-mopidy %}
            <div class="tab-content is-hidden" id="debian">
              {% if ext.dist.apt-debian %}
                <p>
                  Install the <code>{{ ext.dist.apt-debian }}</code> package from
                  <a href="https://packages.debian.org/{{ ext.dist.apt-debian }}">Debian</a> or
                  <a href="https://packages.ubuntu.com/{{ ext.dist.apt-debian }}">Ubuntu</a>:
                </p>
                <pre class="copy">apt install {{ ext.dist.apt-debian }}</pre>
              {% endif %}
              {% if ext.dist.apt-mopidy %}
                {% if ext.dist.apt-debian %}
                  <h4>Mopidy's APT repository</h4>
                  <p>
                    Alternatively,
                    you can install the <code>{{ ext.dist.apt-mopidy }}</code>
                    Debian package from Mopidy's APT repository,
                    which often has newer versions than Debian/Ubuntu.
                  </p>
                {% else %}
                  <p>
                    This extension is currently not packaged in Debian/Ubuntu, but
                    you can install the <code>{{ ext.dist.apt-mopidy }}</code>
                    Debian package from Mopidy's APT repository.
                  </p>
                {% endif %}
                <p>
                  First, follow the instructions at
                  <a href="https://apt.mopidy.com/">apt.mopidy.com</a>
                  on how to setup Mopidy's APT repo on your system.
                </p>
                <p>
                  Then, install the <code>{{ ext.dist.apt-mopidy }}</code> package:
                </p>
                <pre class="copy">apt install {{ ext.dist.apt-mopidy }}</pre>
              {% endif %}
            </div>
          {% endif %}

          {% if ext.dist.arch-aur %}
            <div class="tab-content is-hidden" id="arch">
              <p>
                Install the
                <a href="https://aur.archlinux.org/packages/{{ ext.dist.arch-aur }}">
                  {{ ext.dist.arch-aur }}</a>
                package from AUR:
              </p>
              <pre class="copy">yay -S {{ ext.dist.arch-aur }}</pre>
            </div>
          {% endif %}

          {% if ext.dist.homebrew %}
            <div class="tab-content is-hidden" id="macos">
              {% assign homebrew_repo = ext.dist.homebrew.tap | replace: "/", "/homebrew-" %}
              <p>
                Install the
                <a href="https://github.com/{{ homebrew_repo }}/blob/master/Formula/{{ ext.dist.homebrew.formula }}.rb">
                  {{ ext.dist.homebrew.formula }}</a>
                formula with <a href="https://brew.sh/">Homebrew</a>:
              </p>
              <pre class="copy">brew install {{ ext.dist.homebrew.tap }}/{{ ext.dist.homebrew.formula }}</pre>
            </div>
          {% endif %}

          {% if ext.oauth %}
            <div class="auth">
              <h2 id="authentication">Authentication</h2>
              <p>
                {{ ext.name }} needs API access, to grant access click the button bellow and
                follow the instructions. Your data is <b>never</b> shared with this site.
              </p>
              <p><a class="img auth-button" href="{{ ext.oauth.target }}">
                <img src="{{ ext.oauth.button }}" alt="Authenticate {{ ext.name }}"></a></p>
              <p>
                After the pop up closes, add the following to you <code>mopidy.conf</code> file:
              </p>
              <p class="auth-error notification is-danger is-hidden"></p>
              {% for config in ext.oauth.config %}
                <pre class="copy auth-config">
[{{ config[0] }}]{% for item in config[1] %}
{{ item }} = <b data-name="{{ item }}" class="select">The config value will appear here.</b>{% endfor %}</pre>
              {% endfor %}
              <p>
                For more information see the
                <a href="https://github.com/{{ ext.dev.github }}">{{ ext.name }} docs</a>.
              </p>
              {{ ext.oauth.note|markdownify }}
            </div>
          {% endif %}
        </div>

      </div>
      <div class="column is-4">

        <nav class="panel">

          {% if ext.dev.github or ext.dist.pypi %}
            <div class="panel-block is-block">
              <h5 class="is-uppercase has-text-grey">Popularity</h5>
              {% if ext.dev.github %}
                <a href="https://github.com/{{ ext.dev.github }}/stargazers">
                  <img
                    alt="GitHub stars"
                    src="https://img.shields.io/github/stars/{{ ext.dev.github }}?label=GitHub%20stars&amp;style=flat-square"
                  />
                </a>
              {% endif %}
              {% if ext.dist.pypi %}
                <a href="https://pypi.org/project/{{ ext.dist.pypi }}">
                  <img
                    alt="PyPI - Downloads"
                    src="https://img.shields.io/pypi/dm/{{ ext.dist.pypi }}?label=PyPI%20downloads&amp;style=flat-square"
                  />
                </a>
              {% endif %}
            </div>
          {% endif %}

          {% if ext.dist.pypi %}
            <div class="panel-block is-block">
              <h5 class="is-uppercase has-text-grey">PyPI</h5>
              <a href="https://pypi.org/project/{{ ext.dist.pypi }}">
                <img
                  alt="PyPI - Package version"
                  src="https://img.shields.io/pypi/v/{{ ext.dist.pypi }}?label=Package%20version&amp;style=flat-square"
                />
              </a>
              <a href="https://pypi.org/project/{{ ext.dist.pypi }}">
                <img
                  alt="PyPI - Python support"
                  src="https://img.shields.io/pypi/pyversions/{{ ext.dist.pypi }}?label=Python%20support&amp;style=flat-square"
                />
              </a>
            </div>
          {% endif %}

          {% if ext.dist.pypi %}
            <div class="panel-block is-block">
              <h5 class="is-uppercase has-text-grey">License</h5>
              <a href="https://pypi.org/project/{{ ext.dist.pypi }}">
                <img
                  alt="PyPI - License"
                  src="https://img.shields.io/pypi/l/{{ ext.dist.pypi }}?label=&amp;style=flat-square"
                />
              </a>
            </div>
          {% endif %}

          {% if ext.dev.github %}
            <div class="panel-block is-block">
              <h5 class="is-uppercase has-text-grey">Project stats</h5>
              <a href="https://github.com/{{ ext.dev.github }}/issues">
                <img
                  alt="GitHub issues"
                  src="https://img.shields.io/github/issues/{{ ext.dev.github }}?label=Issues&amp;style=flat-square"
                />
              </a>
              <a href="https://github.com/{{ ext.dev.github }}/pulls">
                <img
                  alt="GitHub pull requests"
                  src="https://img.shields.io/github/issues-pr/{{ ext.dev.github }}?label=Pull%20requests&amp;style=flat-square"
                />
              </a>
            </div>
          {% endif %}

          {% if ext.dev.circleci or ext.dev.travisci or ext.dev.codecov or ext.dev.coveralls %}
            <div class="panel-block is-block">
              <h5 class="is-uppercase has-text-grey">Quality metrics</h5>
              {% if ext.dev.circleci %}
                <a href="https://circleci.com/gh/{{ ext.dev.github }}">
                  <img
                    alt="CircleCI build status"
                    src="https://img.shields.io/circleci/build/gh/{{ ext.dev.github }}?label=CircleCI build&amp;style=flat-square"
                  />
                </a>
              {% endif %}
              {% if ext.dev.travisci %}
                <a href="https://travis-ci.org/{{ ext.dev.github }}">
                  <img
                    alt="CircleCI build status"
                    src="https://img.shields.io/travis/{{ ext.dev.github }}?label=Travis CI build&amp;style=flat-square"
                  />
                </a>
              {% endif %}
              {% if ext.dev.codecov %}
                <a href="https://codecov.io/gh/{{ ext.dev.github }}">
                  <img
                    alt="Codecov test coverage"
                    src="https://img.shields.io/codecov/c/gh/{{ ext.dev.github }}?label=Test coverage&amp;style=flat-square"
                  />
                </a>
              {% endif %}
              {% if ext.dev.coveralls %}
                <a href="https://coveralls.io/r/{{ ext.dev.github }}">
                  <img
                    alt="Coveralls test coverage"
                    src="https://img.shields.io/coveralls/github/{{ ext.dev.github }}?label=Test coverage&amp;style=flat-square"
                  />
                </a>
              {% endif %}
            </div>
          {% endif %}

        </nav>

      </div>
    </div>
  </div>
</section>

{% include ext-footer.html %}
