---
layout: default
---

{% assign ext = page %}

<section class="section">
  <div class="container">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/ext/">Extensions</a></li>
        <li class="is-active"><a href="{{ ext.url }}">{{ ext.title }}</a></li>
      </ol>
    </nav>

    <h1 class="title is-size-2">{{ ext.title }}</h1>
    <h2 class="subtitle is-size-4 has-text-grey">
      {% case ext.type %}
        {% when "backend" %}
          backend extension
        {% when "frontend" %}
          frontend extension
        {% when "mixer" %}
          mixer extension
        {% when "web" %}
          web extension
      {% endcase %}
    </h2>

    <div class="columns is-variable is-8">
      <div class="column is-8">

        {% if ext.archived %}
          <article class="message is-danger">
            <div class="message-header">Archived</div>
            <div class="message-body">
              {{ ext.archived|markdownify }}
            </div>
          </article>
        {% endif %}

        <div class="content is-medium">
          {{ ext.content }}
        </div>

        {% include ext-buttons.html %}

        <div class="content">

          {% for image in ext.images %}
            <div class="image box">
              <a href="{{ image }}">
                <img src="{{ image }}">
              </a>
            </div>
          {% endfor %}

          <h2>Installation</h2>

          {% if ext.archived == nil %}
          {% if ext.prerelease %}
              <article class="message is-warning">
                <div class="message-header">Python 3 support in pre-release</div>
                <div class="message-body">
                  <p>
                    This extension has a pre-release on PyPI with Python 3.7+ support.
                  </p>

                  {% if ext.dist.pypi %}
                    <p>
                      To help test the extension on Python 3,
                      you can install the pre-release using:
                    </p>

                    <pre class="select copy">sudo python3 -m pip install --pre {{ ext.dist.pypi }}</pre>
                  {% endif %}

                  {% if ext.dev.github %}
                    <p>
                      Please report any issues you find in the extension's
                      <a href="https://github.com/{{ ext.dev.github }}/issues">issue tracker</a>.
                    </p>
                  {% endif %}
                </div>
              </article>
          {% endif %}
          {% endif %}

          {% if ext.dist.bundled %}
            <h3>Bundled with Mopidy</h3>
            <p>
              This extension is bundled with Mopidy itself. See
              <a href="https://docs.mopidy.com/">Mopidy's documentation</a>
              for how to configure the extension.
            </p>
          {% else %}
            <div class="tabs has-text-weight-bold">
              <ul class="is-marginless">
                {% if ext.dist.pypi %}
                  <li class="is-active">
                    <a href="#pypi">
                      <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/pypi.svg" /></span>
                      <span>PyPI</span>
                    </a>
                  </li>
                {% endif %}
                {% if ext.dist.apt-debian or ext.dist.apt-mopidy %}
                  <li>
                    <a href="#debian">
                      <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/debian.svg" /></span>
                      <span>Debian</span>
                    </a>
                  </li>
                {% endif %}
                {% if ext.dist.arch-aur %}
                  <li>
                    <a href="#arch">
                      <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/archlinux.svg" /></span>
                      <span>Arch</span>
                    </a>
                  </li>
                {% endif %}
                {% if ext.dist.fedora or ext.dist.rpmfusion %}
                  <li>
                    <a href="#fedora">
                      <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/fedora.svg" /></span>
                      <span>Fedora</span>
                    </a>
                  </li>
                {% endif %}
                {% if ext.dist.homebrew %}
                  <li>
                    <a href="#macos">
                      <span class="icon"><img src="https://unpkg.com/simple-icons@latest/icons/apple.svg" /></span>
                      <span>MacOS</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}

          {% if ext.dist.pypi %}
            <div class="tab-content" id="pypi">
              <p>
                Install the <code>{{ ext.dist.pypi }}</code> package from
                <a href="https://pypi.org/project/{{ ext.dist.pypi }}">PyPI</a>:
              </p>
              <pre class="select copy">sudo python3 -m pip install {{ ext.dist.pypi }}</pre>
            </div>
          {% endif %}

          {% if ext.dist.apt-debian or ext.dist.apt-mopidy %}
            <div class="tab-content is-hidden" id="debian">
              {% if ext.dist.apt-debian %}
                <p>
                  Install the <code>{{ ext.dist.apt-debian }}</code> package from
                  <a href="https://packages.debian.org/{{ ext.dist.apt-debian }}">Debian</a> or
                  <a href="https://packages.ubuntu.com/{{ ext.dist.apt-debian }}">Ubuntu</a>:
                </p>
                <pre class="select copy">sudo apt install {{ ext.dist.apt-debian }}</pre>
              {% endif %}
              {% if ext.dist.apt-mopidy %}
                {% if ext.dist.apt-debian %}
                  <h4>Mopidy's APT repository</h4>
                  <p>
                    Alternatively,
                    you can install the <code>{{ ext.dist.apt-mopidy }}</code>
                    Debian package from Mopidy's APT repository,
                    which often has newer versions than Debian/Ubuntu.
                  </p>
                {% else %}
                  <p>
                    This extension is currently not packaged in Debian/Ubuntu, but
                    you can install the <code>{{ ext.dist.apt-mopidy }}</code>
                    Debian package from Mopidy's APT repository.
                  </p>
                {% endif %}
                <p>
                  First, follow the instructions at
                  <a href="https://apt.mopidy.com/">apt.mopidy.com</a>
                  on how to setup Mopidy's APT repo on your system.
                </p>
                <p>
                  Then, install the <code>{{ ext.dist.apt-mopidy }}</code> package:
                </p>
                <pre class="select copy">sudo apt install {{ ext.dist.apt-mopidy }}</pre>
              {% endif %}
            </div>
          {% endif %}

          {% if ext.dist.arch-aur %}
            <div class="tab-content is-hidden" id="arch">
              <p>
		Install the <code>{{ ext.dist.arch-aur }}</code> package from
                <a href="https://aur.archlinux.org/packages/{{ ext.dist.arch-aur }}">AUR</a>:
              </p>
              <pre class="select copy">yay -S {{ ext.dist.arch-aur }}</pre>
            </div>
          {% endif %}

          {% if ext.dist.fedora %}
            <div class="tab-content is-hidden" id="fedora">
              <p>
		Install the <code>{{ ext.dist.fedora }}</code> package from
                <a href="https://src.fedoraproject.org/rpms/{{ ext.dist.fedora }}">Fedora</a>:
              </p>
              <pre class="select copy">dnf install {{ ext.dist.fedora }}</pre>
            </div>
          {% endif %}

          {% if ext.dist.rpmfusion %}
            {% assign parts = ext.dist.rpmfusion | split: '/' %}
            <div class="tab-content is-hidden" id="fedora">
              <p>
		Install the <code>{{ parts | shift }}</code> package from
                <a href="https://admin.rpmfusion.org/pkgdb/package/{{ ext.dist.rpmfusion }}">RPMFusion-{{ parts | pop }}</a>:
              </p>
              <pre class="select copy">dnf install {{ parts | shift }}</pre>
            </div>
          {% endif %}

          {% if ext.dist.homebrew %}
            <div class="tab-content is-hidden" id="macos">
              {% assign homebrew_repo = ext.dist.homebrew.tap | replace: "/", "/homebrew-" %}
              <p>
                Install the
                <a href="https://github.com/{{ homebrew_repo }}/blob/master/Formula/{{ ext.dist.homebrew.formula }}.rb">
                  {{ ext.dist.homebrew.formula }}</a>
                formula with <a href="https://brew.sh/">Homebrew</a>:
              </p>
              <pre class="select copy">brew install {{ ext.dist.homebrew.tap }}/{{ ext.dist.homebrew.formula }}</pre>
            </div>
          {% endif %}

          {% if ext.oauth %}
            <div class="auth"{% if ext.oauth.origin %} data-origin="{{ ext.oauth.origin }}"{% endif %}>
              <h2 id="authentication" style="margin-top: 1.5em">Authentication</h2>
              <p>
                {{ ext.title }} needs API access to {{ ext.service }}, to grant
                access click the button bellow and follow the instructions.
                Your data is <b>never</b> shared with this site.
              </p>
              <p>
                <a class="button auth-button" href="{{ ext.oauth.endpoint }}"{% if ext.oauth.button.style %} style="{{ ext.oauth.button.style}}"{%endif%}>
                  {% if ext.oauth.button.logo %}
                    <span class="icon"><img src="{{ ext.oauth.button.logo.url }}"{% if ext.oauth.button.logo.style %} style="{{ ext.oauth.button.logo.style }}"{% endif %} /></span>
                  {% endif %}
                  <span>Authenticate Mopidy with <b>{{ ext.service }}</b></span>
                </a>
              </p>
              <p>
                After the pop up closes, add the following to your <code>mopidy.conf</code> file:
              </p>
              <p class="auth-error notification is-danger is-hidden"></p>
              {% for config in ext.oauth.config %}
                <pre class="copy auth-config">
[{{ config[0] }}]{% for item in config[1] %}
{{ item }} = <b data-name="{{ item }}" class="select">The config value will appear here.</b>{% endfor %}</pre>
              {% endfor %}
              <p>
                For more information see the
                <a href="https://github.com/{{ ext.dev.github }}">{{ ext.title }} docs</a>.
              </p>
              {{ ext.oauth.note|markdownify }}
            </div>
          {% endif %}
        </div>

      </div>
      <div class="column is-4">
        {% include ext-stats.html %}
      </div>
    </div>
  </div>
</section>

{% include ext-footer.html %}
